@model TaskManagementSystem.Models.TaskEditVM

<div class="modal-header">
    <h5 class="modal-title">Edit Task</h5>
    <button class="btn-close" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body">

    <div class="mb-3">
        <span>@Html.DisplayNameFor(model => model.Title) </span>
        <input id="edit-title" class="form-control" value="@Model.Title" />
    </div>


    <div class="mb-3">
        <span>@Html.DisplayNameFor(model => model.Description) </span>
        <textarea id="edit-description"
                  class="form-control">@Model.Description</textarea>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <span>@Html.DisplayNameFor(model => model.Status) </span>
            <select id="edit-status" class="form-select">
                <option value="0" selected="@(Model.Status == TaskManagementSystem.Models.TaskStatus.ToDo)">ToDo</option>
                <option value="1" selected="@(Model.Status == TaskManagementSystem.Models.TaskStatus.InProgress)">InProgress</option>
                <option value="2" selected="@(Model.Status == TaskManagementSystem.Models.TaskStatus.Completed)">Completed</option>
            </select>
        </div>

        <div class="col-md-6 mb-3">
            <span>@Html.DisplayNameFor(model => model.Priority) </span>
            <select id="edit-priority" class="form-select">
                <option value="0" selected="@(Model.Priority == TaskManagementSystem.Models.TaskPriority.Low)">Low</option>
                <option value="1" selected="@(Model.Priority == TaskManagementSystem.Models.TaskPriority.Medium)">Medium</option>
                <option value="2" selected="@(Model.Priority == TaskManagementSystem.Models.TaskPriority.High)">High</option>
            </select>
        </div>
    </div>
    <span>@Html.DisplayNameFor(model => model.DueDate) </span>
    <input id="edit-dueDate" type="date"
           class="form-control"
           value="@Model.DueDate?.ToString("yyyy-MM-dd")" />
    <div id="edit-error" class="text-danger small mt-2" style="display:none;">
        All fields are required!
    </div>

</div>


<div class="modal-footer">
    <button class="btn btn-primary"
            onclick="editTask(@Model.Id)">
        Save
    </button>
    <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
</div>

